server:
  port: 9091
spring:
  application:
    name: spring-cloud-config-server
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
greeting-service:
  greeting: "hello"
  default-value: "World"

