server:
  port: 9091
spring:
  application:
    name: greeting-server
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
greeting-service:
  greeting: "Ciao"
  default-value: "Mondo"

